
# by default, ignore everything
/*
# additionally, ignore compiled Python bytecode files
**/__pycache__

# myself
!/.gitignore

# readme
!/README.md

# folders
!/General/
!/Biologic\ Parser/
!/MTICyc\ Parser/
